@font-face {
  font-family: 'PressStart2P';
  src: url('./PressStart2P-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'PressStart2P';
  src: url('./PressStart2P-Regular.woff2') format('woff2');
  font-weight: 785;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('./Inter-Variable.woff2') format('woff2-variations');
  font-weight: 400 700;
  font-display: swap;
}