.background {
  width: 1440px;
  height: 960px;
  margin-left: 210px;
  display: block;
  max-width: 100%;
}

body {
  position: relative;
  min-height: 15000px;
  overflow-x: hidden;
}

.main-container {
  position: relative;
  height: 9000px;
  max-width: 100%;
  overflow-x: hidden;
}

.header {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.square-block {
  position: absolute;
  top: 100px;
  left: 580px;
  border: 2px solid #000000;
  width: 696px;
  height: 364px;
  background: #ffffff;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header_title {
  line-height: 108px;
  margin: 63px 0 0 0;
  font-size: 65px;
}

.hider_all {
  margin-top: 35px;
}

.header-text {
  line-height: 108px;
  font-size: 23px;
  margin: -45px 0 0 0;
}

.square-block-2 {
  position: absolute;
  top: 568px;
  left: 580px;
  border: 2px solid #000000;
  width: 696px;
  height: 959px;
  background: #ffffff;
  color: #000000;
}

.square-block-3 {
  position: absolute;
  top: 1577px;
  left: 580px;
  border: 2px solid #000000;
  width: 696px;
  height: 1001px;
  background: #ffffff;
  color: #000000;
}

.square-block-4 {
  position: absolute;
  top: 2627px;
  left: 580px;
  border: 2px solid #000000;
  width: 696px;
  height: 959px;
  background: #ffffff;
  color: #000000;
}

.square-block-5 {
  position: absolute;
  top: 3636px;
  left: 580px;
  border: 2px solid #000000;
  width: 696px;
  height: 997px;
  background: #ffffff;
  color: #000000;
}

.square-block-6 {
  position: absolute;
  top: 4690px;
  left: 580px;
  border: 2px solid #000000;
  width: 696px;
  height: 1018px;
  background: #ffffff;
  color: #000000;
}

.square-block-7 {
  position: absolute;
  top: 5763px;
  left: 580px;
  border: 2px solid #000000;
  width: 696px;
  height: 959px;
  background: #ffffff;
  color: #000000;
}

.square-block-8 {
  position: absolute;
  top: 6767px;
  left: 580px;
  border: 2px solid #000000;
  width: 696px;
  height: 999px;
  background: #ffffff;
  color: #000000;
}

.square-block-9 {
  position: absolute;
  top: 7820px;
  left: 580px;
  border: 2px solid #000000;
  width: 696px;
  height: 1039px;
  background: #ffffff;
  color: #000000;
}

.article-title-1 {
  font-family: 'Inter', sans-serif;
  line-height: 30px;
  font-weight: 700;
  font-size: 18px;
  margin-left: 10px;
}

.text-1 {
  font-family: 'Inter', sans-serif;
  line-height: 21px;
  font-weight: 400;
  font-size: 18px;
  margin-top: 27px;
  margin-right: 25px;
  margin-left: 25px;
}

.text-2 {
  font-family: 'Inter', sans-serif;
  line-height: 21px;
  font-weight: 400;
  font-size: 18px;
  margin-top: 27px;
  margin-right: 25px;
  margin-left: 25px;
}

.text-3 {
  font-family: 'Inter', sans-serif;
  line-height: 21px;
  font-weight: 400;
  font-size: 17.8px;
  margin-top: 27px;
  margin-right: 25px;
  margin-left: 25px;
}

.container {
  position: relative;
}

.image-1 {
  height: 696px;
  width: 696px;
  display: block;
  transform: translatex(-2px);
  max-width: 100%;
  filter: sepia(0.8) brightness(1.1);
}

.image-2 {
  width: 696px;
  height: 696px;
  display: block;
  max-width: 100%;
}

.filter-1 {
  filter: contrast(1.5) saturate(1.2);
}

.filter-2 {
  filter: hue-rotate(90deg) brightness(1.1);
}

.filter-3 {
  filter: invert(0.1) blur(1px);
}

.filter-4 {
  filter: grayscale(0.7) opacity(0.9);
}

.filter-5 {
  filter: sepia(0.6) contrast(1.3);
}

.filter-6 {
  filter: brightness(1.2) saturate(1.4);
}

.filter-7 {
  filter: hue-rotate(180deg) opacity(0.95);
}

.teg-html {
  position: absolute;
  top: 25px;
  left: 570px;
}

.card__icon-button {
  background: none;
  border: none;
  padding: 0;
  margin-top: 30px;
  margin-left: 495px;
  outline: none;
}

.card__like-button {
  background: none;
  transform: translateY(-25px);
  margin-left: 540px;
  outline: none;
  padding: 6px 37px 6px 25px;
  inline-size: 130px;
  block-size: 38px;
  margin-top: -22px;
}

.button__text {
  font-family: 'PressStart2P', 'Courier New', monospace;
  font-weight: 400;
  font-size: 14px;
  margin-left: 10px;
}

.button-save {
  text-align: center;
  margin-top: 7960px;
}

.button-save-2 {
  color: #000000;
  border: 2px solid #000000;
  padding: 15px 30px;
  font-family: 'PressStart2P', 'Courier New', monospace;
  font-size: 14px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 400;
  background: #ffffff;
}

@media (max-width: 374px) {
  .main-container {
    height: auto;
    min-height: 100vh;
    overflow-x: hidden;
  }

  .background {
    width: 100%;
    height: 200px;
    margin-left: 0;
  }

  .header {
    padding: 10px 0;
    overflow-x: hidden;
  }

  .square-block,
  .square-block-2,
  .square-block-3,
  .square-block-4,
  .square-block-5,
  .square-block-6,
  .square-block-7,
  .square-block-8,
  .square-block-9 {
    position: static;
    width: 92%;
    margin: 15px auto;
    height: auto;
    min-height: 200px;
    padding: 15px;
    border-width: 2px;
  }

  .header_title {
    font-size: 20px;
    line-height: 40px;
    margin: 15px 0 0 0;
  }

  .header-text {
    font-size: 12px;
    line-height: 25px;
    margin: -15px 0 0 0;
  }

  .article-title-1 {
    font-size: 14px;
    line-height: 20px;
    margin: 8px 10px;
    text-align: center;
  }

  .text-1,
  .text-2,
  .text-3 {
    font-size: 12px;
    line-height: 18px;
    margin: 15px 10px;
    text-align: justify;
  }

  .container {
    width: 100%;
    margin: 10px 0;
  }

  .image-1,
  .image-2 {
    width: 100%;
    height: auto;
    transform: none;
  }

  .teg-html {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: auto;
  }

  .card__icon-button {
    margin: 15px auto;
    display: block;
    transform: scale(0.8);
  }

  .card__like-button {
    margin: -10px auto 15px;
    display: block;
    transform: none;
    padding: 8px 16px;
    inline-size: 100px;
    block-size: 30px;
  }

  .button__text {
    font-size: 10px;
  }

  footer {
    position: relative;
    z-index: 1000;
    padding: 20px 0;
    margin-top: 50px;
  }

  .button-save-2 {
    padding: 11px 19px;
    font-size: 12px;
    width: 90%;
    max-width: 280px;
  }

  .like-container {
    margin: 10px 0;
  }

  .image-1-content,
  .image-2-content {
    padding: 10px;
  }
   .card__like-button:active,
  .card__icon-button:active,
  .button-save-2:active {
    transform: scale(0.98);
  }
}
.card__like-button,
.card__icon-button,
.button-save-2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}